html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #263238;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: #263238;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hedaer__top-inner {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
}
.header__text span {
  color: #e74c3c;
}

.header__btn {
  padding: 9px;
  width: 72px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  align-items: center;
}

.header__btn-login {
  background-color: #8bc34a;
}

.header__btn-register {
  background-color: #e74c3c;
}

.header__menu {
  height: 60px;
  background-color: #263238;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list li {
  display: inline-block;
}
.menu__list li + li {
  margin-left: 30px;
}
.menu__list a {
  color: #fff;
  font-size: 14px;
}